body {
    background-color: darkgray;
}

main {
    margin-right: 20px;
    margin-left: 20px;
}

h1 {
    color: rgb(167, 78, 26)
}

.homeIMG {
    width: 50%;
    display: block;
    margin: auto;
}

.showIMG {
    width: 25%;
}

.indexIMG {
    width: 25%;
    display: block;
    margin: auto;
}

nav {
    background-color: rgb(66, 66, 66);
    padding: 10px
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}
nav a {
    color:antiquewhite;
    font-size: 1.5em;
}

nav a:hover {
    color:rgb(241, 62, 42);
    text-decoration: none;
}